body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/bg2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(10px);
}
.App {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
